
.hero{
    margin-top: 5rem;
    text-align: center;
}


.name {
    font-size: 4rem;
    margin: 0.5em 0;
    color: white;
}
.role{
    font-size: 4rem;
    margin: 0.5em 0;
    color: #EAB8FF; /* Light Purple */
}
h1{
    font-size: 4rem;
    margin: 0.5em ;
    color: #EAB8FF; /* Light Purple */
}

h4{
    font-size: 1.3rem;
    font-weight: normal;
    margin: 1em 0;
}
.hero-action{
    margin-top: 3rem;
}
.hero-work{
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    padding: 15px 10px;
    border-radius: 0.5rem;
    margin-left: 40rem;
    margin-right: 40rem;
    box-shadow: #EAB8FF;
    cursor: pointer;
}
.hero-work:hover{
    background: #EAB8FF;
    color: #080807; /* Black */
}
@media screen and (max-width: 768px){
    .hero-work{
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .name {
        font-size: 2.5rem;
        margin: 0.5em 0;
        color: white;
    }
    .role{
        font-size: 2.5rem;
        margin: 0.5em 0;
        color: #EAB8FF; /* Light Purple */
    }
    h1{
        font-size: 2.5rem;
        margin: 0.5em ;
        color: #EAB8FF; /* Light Purple */
    }
    
    h4{
        font-size: 1.1rem;
        font-weight: normal;
        margin: 1em 0;
    }
    
}
